// app global css in SCSS form
.hljs {
  color: #c9d1d9;
  background: #0d1117;
  padding: 10px;
  border-radius: 10px;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #ff7b72;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #d2a8ff;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #79c0ff;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #a5d6ff;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #ffa657;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #8b949e;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #7ee787;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #c9d1d9;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #1f6feb;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #f2cc60;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #c9d1d9;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #c9d1d9;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #aff5b4;
  background-color: #033a16;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffdcd7;
  background-color: #67060c;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

.action-btn {
  background-color: $grey-2;
  color: $dark;
  border-radius: 15px;
}

/* scroll bar */
// Thanks to hawkeye64
// https://github.com/quasarframework/quasar/issues/10825#issuecomment-936256646
:root {
  --scrollbar-width-height: 10px;
  --scrollbar-track: #eeeeee;
  --scrollbar-thumb: rgba(204, 204, 204, 1);
  --scrollbar-thumb-hover: rgba(178, 178, 178, 1);
  --scrollbar-track-dark: #eeeeee;
  --scrollbar-thumb-dark: rgba(204, 204, 204, 1);
  --scrollbar-thumb-hover-dark: rgba(178, 178, 178, 1);
}
::-webkit-scrollbar {
  width: var(--scrollbar-width-height);
  height: var(--scrollbar-width-height);
}
// the track (progress bar) of the scrollbar
::-webkit-scrollbar-track {  // border-top: var(--markdown-border)
  background: var(--scrollbar-track-dark);
  box-shadow: inset 0 0 4px var(--scrollbar-track-dark);
}
// the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet
::-webkit-scrollbar-corner {
  background: var(--scrollbar-track-dark);
}
// the draggable scrolling handle
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-dark);
  border-radius: 5px;

  &:hover {
    background: var(--scrollbar-thumb-hover-dark);
  }
}

